header {
	background: #353535;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	height: 80px;
	display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 35px 0 rgba(30,26,26,.5);
    z-index: 1000;
}

.title-box {
    padding: 2.5px;
    display: flex;
    justify-content: center;
}

.title {
    font-family: Lucida Console, Courier, monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    color: #FFFFFF;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 10px;
}
body {
    background-color: #2B2B2B;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Ubuntu,Roboto,Helvetica Neue,sans-serif;
}
#wrapper {
    padding-left: 0;
    min-height: 100%
}
main {
    position: relative;
    min-height: 100%;
    max-width: 1920px;
    padding-top: 100px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

main .chart {
    width: 720px;
    height:350px;
    display: flex;
}
main .chart .name {
    background-color: #222121;
    border-radius: 40px;
    width: 100%;
}

main .chart .name .header {
    text-align: center;
}

main .chart .name .info {
    font-size: 2.25rem;
    font-weight: 700;
    padding: 10px;
    color: #ffffff;
}

main .chart .name .status {
    font-size: 1.125rem;
    font-weight: 100;
    color: #ffffff;
}

main .chart img {
    height: 30px;
    width: 30px;
    padding-right: 10px;
}

main .chart .users {
    color: #ffffff;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 20px;
}

.tool {
    cursor: help;
    position: relative;
}

/*== common styles for both parts of tool tip ==*/
.tool::before,
.tool::after {
    left: 50%;
    opacity: 0;
    position: absolute;
    z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
    opacity: 1;
    transform: scale(1) translateY(0);
    z-index: 100;
}


/*== pointer tip ==*/
.tool::before {
    border-style: solid;
    border-width: 1em 0.75em 0 0.75em;
    border-color: #3E474F transparent transparent transparent;
    bottom: 100%;
    content: "";
    margin-left: -0.5em;
    transition: all .15s cubic-bezier(.84,-0.18,.31,1.26), opacity .15s .5s;
    transform:  scale(.6) translateY(-90%);
}

.tool:hover::before,
.tool:focus::before {
    transition: all .1s cubic-bezier(.84,-0.18,.31,1.26) .1s;
}


/*== speech bubble ==*/
.tool::after {
    background: #3E474F;
    border-radius: .25em;
    bottom: 180%;
    color: #EDEFF0;
    content: attr(data-tip);
    margin-left: -8.75em;
    padding: 1em;
    transition: all .2s cubic-bezier(.84,-0.18,.31,1.26) .2s;
    transform:  scale(.6) translateY(50%);
    width: 17.5em;
}

.tool:hover::after,
.tool:focus::after  {
    transition: all .15s cubic-bezier(.84,-0.18,.31,1.26);
}

@media (max-width: 760px) {
  .tool::after {
        font-size: .75em;
        margin-left: -5em;
        width: 10em;
  }
}

main a {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

main a:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

button {
    height: 20px;
    width: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.footer{
  background-color: #222121;
  padding: 70px 0;
}

footer .container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
}
ul{
  list-style: none;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
